html {
	--primary-color: #c41717;
	--primary-dark-color: #803333;
	--primary-light-color: #e97070;
}

html.dark-mode {
	--primary-color: #c76b6b;
	--primary-dark-color: #b98f8f;
	--primary-light-color: #ac4747;

	--odd-color: rgba(119, 58, 58, 0.06);

	--page-foreground-color: #ded2d2;
	--page-secondary-foreground-color: #9b7575;
	--separator-color: #522f2f;
}

table.tparams td.paramname+td::before,
table.params td.paramname+td::before {
	content: "– ";
}

.arrow {
	opacity: 1 !important
}